parameters:
    paths:
        - src

    excludes_analyse:
        - %currentWorkingDirectory%/src/Property/PropertyChecker.php

    ignoreErrors:
        - '#Ternary operator condition is always true.#'

